html {
    background-color: rgb(255, 232, 230);
}

body {
    width: 80%;
    margin: 1% auto 5px auto !important;
    overflow-x: hidden;
    height: auto;
    background: url("../images/bann_cerisiers.png") no-repeat scroll 50% 0% / 100% auto rgb(230, 229, 225) !important;
    border: 3px solid #3b2939;
}

header nav {
    position: absolute;
    padding: 20px 0px 2px 0px;
    top: -20px;
    width: 93%;
    text-align: center;
    left: 3.5%;
    border: 1px solid #000000;
    border-radius: 16px;
    background-color: rgb(230, 229, 225);
    box-shadow: 0px 0px 5px #000000;
    border-left-style: dotted;
    border-right-style: dotted;
}

header nav ul li {
    display: inline;
    margin: 3px 50px;
}

header nav ul li a {
    color: #000000 !important;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none !important;
}

header + div.container {
    margin-top: 39%;
    width: 100%;
    overflow-x: auto;
}

div.container {
    width: 100%;
}

div.container div {
    min-width: auto !important;
}

div.header a {
    color: #000000 !important;
    text-shadow: none !important;
}

h1:first-letter {
    color: #7a0404;
}

h1 {
    text-shadow: 1px 1px 3px;
}

img {
    border: 3px solid #3b2939;
}

h3 {
    color: #BAB69D !important;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px;
    transition: all 2s ease ;
    font-size: 20px;
}

h3:hover {
    color: #595245 !important;
    text-shadow: 1px 1px 0px #ffffff;
}

h2 {
    color: #BAB69D !important;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px;
    transition: all 2s ease ;
}

h2:hover {
    color: #595245 !important;
    text-shadow: 1px 1px 0px #ffffff;
}

a[class="button primary"], a[class="button"] {
    color: #000000 !important;
    text-shadow: none !important;
}

a, a:hover {
    text-decoration: none !important;
    color: #C75450 !important;
    text-shadow: 1px 1px 0px #ffffff;
}