/* IMPORTANT */
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;       
}

/* HEADER */
nav {
    display: inline-block;
    text-align: center;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
}

.contributeurs {
    margin-right: 2.5%;
}

.downloads {
    margin-left: 2.5%;
}

/* CORPS */
select {
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
}

.container {
    width: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

h2, .h2 {
    font-size: 30px;
}

/* FOOTER */
footer {
    text-align: center;
}